@import "./styles/variables";
@import "./styles/mixins";

.base-style {
}

.dark {
  background: rgb(29, 27, 36);
  height: 100vh;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $snow-white;
  }

  a {
    color: $secondary-color;
  }

  a:hover {
    color: $highlight;
  }


}
